name: DBT CD

on:
  push:
    branches: [ main ]

jobs:
  dbt-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install dbt-core dbt-snowflake

      - name: Configure dbt profile
        run: |
          mkdir -p ~/.dbt
          cat > ~/.dbt/profiles.yml <<EOF
          banking_dbt:
            target: prod
            outputs:
              prod:
                type: snowflake
                account: ${{ secrets.SNOWFLAKE_ACCOUNT }}
                user: ${{ secrets.SNOWFLAKE_USER }}
                password: ${{ secrets.SNOWFLAKE_PASSWORD }}
                role: ACCOUNTADMIN
                warehouse: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
                database: NORTHWIND
                schema: ANALYTICS
          EOF

      - working-directory: northwind_dbt
        run: |
          dbt deps
          dbt run
          dbt test
